{% load static %}

<section class="ftco-section ">
    <div class="">
        <div class="row no-gutters">
            <div class="col-md-12">
                <a href="#">
                    <div class="choose-wrap divider-one img p-1 d-flex align-items-end"
                        style="background-image: url({% static 'images/key.jpg' %}); backgrount-size: cover; height: 400px;">

                        <div class="text text-center text-white px-2 ">

                        </div>
                    </div>

                </a>
            </div>

        </div>
    </div>
    <br><br>
</section>