{% extends "account/base.html" %}

{% load i18n %}
{% load_crispy_forms_tags %}
{% block head_title %}
<title>{% trans "Set Password" %}</title>{% endblock %}

{% block content %}
<main>
    <section class="ftco-section contact-section bg-light">
        <div class="container">
            <div class="row">
                <div class='col-md-6 mx-auto mb-4'>
                    <h1>{% trans "Set Password" %}</h1>

                    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-primary" type="submit" name="action" value="{% trans 'Set Password' %}" />
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}