{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}

<title>{% trans "Password Reset" %}</title>{% endblock %}

{% block content %}
<main>
    <section class="ftco-section contact-section bg-light">
        <div class="container">
            <div class="row">
                <div class='col-md-6 mx-auto mb-4'>
                    <h1>{% trans "Password Reset" %}</h1>

                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}

                    <p>{% blocktrans %}

                        We have sent you an e-mail. <br> Please contact us if you do not receive it within a
                        few
                        minutes.{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}