{% extends "base.html" %}

{% load i18n %}

{% block head_title %}
{% load crispy_forms_tags %}
<title>{% trans "Change Password" %}</title>{% endblock %}

{% block content %}
<main>
    <section class="ftco-section contact-section bg-light">
        <div class="container">
            <div class="row">
                <div class='col-md-6 mx-auto mb-4'>
                    <h1>{% trans "Change Password" %}</h1>

                    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary col-lg-12" type="submit"
                            name="action">{% trans "Change Password" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}