{% extends "base.html" %}

{% load i18n %}

{% block head_title %}

<title>{% trans "Sign Up Closed" %}</title>{% endblock %}

{% block content %}
<main>
    <section class="ftco-section contact-section bg-light">
        <div class="container">
            <div class="row">
                <div class='col-md-6 mx-auto mb-4'>
                    <h1>{% trans "Sign Up Closed" %}</h1>

                    <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}